*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

.detailimage {
    width: 100%;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
}

.detailimage img {
    width: auto;
    height:auto;
}
.type-interior .content-primary {
    margin: 0;
    padding: 1.5em 5% 3em 0;
}
.content-primary {
    float: right;
    margin-right: 1%;
    margin-top: 30px;
    padding-right: 1%;
    width: 60%;
}
.type-interior .content-secondary {
    margin: 0;
    padding: 1.5em 0 3em 5%;
}
.content-secondary {
    display: inline-block;
    height: 1px;
    position: absolute;
     margin-top: 30px;
    left: 0;
    top: 300px;
     margin-left: 1%;
    margin-top: 30px;
    width: 34%;
}