*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

.detailimage {
    width: 100%;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
}

.detailimage img {
    width: auto;
    height:auto;
}
.type-interior .content-primary a {
    margin: 1%;
    padding: 1.5em;
}
.content-primary a img {
    box-shadow:inset;

}
.content-primary {
    float: right;
    margin-right: 1%;
    margin-top: 30px;
    padding-right: 1%;
    width: 90%;
}
.type-interior .content-secondary {
    margin: 0;
    padding: 1.5em 0 3em 5%;
}
.content-secondary {
    display: inline-block;
    height: 1px;
    position: absolute;
     margin-top: 20px;
    left: 0;
    top: 200px;
     margin-left: 1%;
    width: 10%;
}
.content-primary ul li {
    margin: .5em 0;
    padding: 0;
}