*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

.detailimage {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

.detailimage img {
    width: auto;
    height:auto;
}
.ui-li-thumb, .ui-listview .ui-li-icon {
    left: 20px;
    max-height: 233px;
    max-width: 340px;
    top: 0;
    position:absolute;
}

.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {
    min-height: 233px;   
}
.ui-li-heading, .ui-li-desc{
    margin: 0.9em 0 0 18em;
    margin-left:310px;
}
